{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Cisco Livewall App</div>
    <div class="title_section">Deployment</div>
</div>
{{ html_for_step_status|safe }}

<h1>CCP Lab Toplogy</h1>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/991" class="img-responsive">


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Deploy "LiveWall" Application profile from CLI</h3>
<p>SSH using putty to your jumphost at IP address -{{data.pod_master_ip}}

</p>
<p>To save time, we will be using a script to quickly install the App Profile</p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/clemea20
  git pull
  ./lwAppProfile
</code>
</pre>
</div>
<br>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine the changes in APIC</h3>
<p>
Take notice that we have deployed three new EPGs (Collector, api, and frontend) and contracts between them

<img src="/lab/static/images/ccp/lwall2.png" class="img-responsive img-shadow">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Log back to CCP to install CSI support Add-on</h3>
<p>
Go back to the tab/window with Cisco Container Platform <br>Log back in with 'admin/admin' if your session has expired </p>
<p>For {{data.vmware_cred_username}}, click on the icon below 'Actions' and click 'Add-ons' </p>
<img src="/lab/static/images/ccp/ccp9.png" class="img-responsive img-shadow">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Click on 'INSTALL ADD-ON' and install 'HyperFlex Storage(CSI)'</h3>

<img src="/lab/static/images/ccp/ccp14.png" class="img-responsive img-shadow">
<img src="/lab/static/images/ccp/ccp24.png" class="img-responsive img-shadow">


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - SSH to your jumpbox and deploy the containerized application</h3>
<p>SSH using putty to your jumphost at IP address -{{data.pod_master_ip}}
</a>
<br>Run the following commands from CLI
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
cd $HOME/clemea20/01-livewall
./01-launch-livewall.sh
</code>
</pre>
</div>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Log back into ACI, open Operational tab under livewall app EPGs</h3>
<b>Notice anything different?</b><p></p>
<img src="/lab/static/images/ccp/lwall4.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine the additions in the VMM domain section</h3>
<p>
Click on 'Virtual Networking' and Expand Kubernetes under 'Container Domains'</p>
<p>Expand {{data.vmware_cred_username}} and look for any pods in the 'default' namespace</p>
<img src="/lab/static/images/ccp/aci031.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - SSH back to your jumpbox to see the Deployment</h3>
<br>
<p>From your jumphost, execute
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get deployments
</code>
</pre>
</div>

      Notice that there are five deployments for this micro-service app <br>
  <img src="/lab/static/images/ccp/lwall5.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Find the frontend IP address from kubernetes</h3>
<br>
<p>From your jumphost, execute
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get svc
</code>
</pre>
</div>
  <img src="/lab/static/images/ccp/lwall6.png" class="img-responsive img-shadow"><br>
  <br>
  <!--
  ##############################################################################################################################
  Step {% set step = step +  1 %}
  ##############################################################################################################################
  -->
<h3>Step {{ step }} - Copy the EXTERNAL-IP address of the frontend LoadBalancer and open it in Chrome</h3>
<img src="/lab/static/images/ccp/lwall7.png" class="img-responsive img-shadow">

{{ end_of_page(page_position,data) }}
{% endblock %}
