{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Cisco Livewall App</div>
    <div class="title_section">Deployment</div>
</div>
{{ html_for_step_status|safe }}

<h1>CCP Lab Toplogy</h1>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/991" class="img-responsive">


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Deploy "LiveWall" Application profile from CLI</h3>
<p>SSH using putty to your jumphost at IP address -{{data.pod_master_ip}} or click here -
<a target="_blank" href="chrome-extension://pnhechapfaindjhompbnflcldabbghjo/html/nassh.html#ccpuser@{{data.pod_master_ip}}:22">
<img src="/core/static/images/symbols/ssh_pointer.png" style="height:20px;" >
</a
</p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/clemea20
  git pull
  ./lwAppProfile
</code>
</pre>
</div>
<br>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine the changes in APIC</h3>
<p>
Take notice that we have deployed three new EPGs (Collector, api, and frontend) and contracts between them
</p>This step was scripted for you to save time<br>

<img src="/lab/static/images/ccp/lwall2.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - SSH to your jumpbox and deploy the containerized application</h3>
<p>SSH using putty to your jumphost at IP address -{{data.pod_master_ip}} or click here -
<a target="_blank" href="chrome-extension://pnhechapfaindjhompbnflcldabbghjo/html/nassh.html#ccpuser@{{data.pod_master_ip}}:22">
<img src="/core/static/images/symbols/ssh_pointer.png" style="height:20px;" >
</a>
<br>Run the following commands from CLI
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
cd $HOME/clemea20/01-livewall
./01-launch-livewall.sh
</code>
</pre>
</div>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Log back into ACI, open Operational tab under livewall app EPGs</h3>
<b>Notice anything different?</b>
<img src="/lab/static/images/ccp/lwall4.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine the additions in the VMM domain section</h3>
<p>
Click on 'Virtual Networking' and Expand Kubernetes under 'Container Domains'</p>
<p>Expand {{data.vmware_cred_username}} and look for any pods in the 'default' namespace</p>
<img src="/lab/static/images/ccp/aci031.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - SSH back to your jumpbox to see the Deployment</h3>
<br>
<p>From your jumphost, execute
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get deployments
</code>
</pre>
</div>

      Notice that there are five deployments for this micro-service app <br>
  <img src="/lab/static/images/ccp/lwall5.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Find the frontend IP address from kubernetes</h3>
<br>
<p>From your jumphost, execute
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get svc
</code>
</pre>
</div>
  <img src="/lab/static/images/ccp/lwall6.png" class="img-responsive img-shadow"><br>
  <br>
  <!--
  ##############################################################################################################################
  Step {% set step = step +  1 %}
  ##############################################################################################################################
  -->
<h3>Step {{ step }} - Copy the EXTERNAL-IP address of the frontend LoadBalancer and open it in Chrome</h3>
<img src="/lab/static/images/ccp/lwall7.png" class="img-responsive img-shadow">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Let's break the connection to the backend Database</h3>
<p>Keep in mind that this database is running in a 'bare-metal' mode outside of Kubernetes <br>
ACI is able to enfore security between all tiers of the application including Bare Metal and VMs</p>
<p></p>
<p>Log back into ACI, goto {{data.vmware_cred_username}}, select livewall App Profile and Click on Topology </p>
<p>Click on 'mysql(database)' EPG once <br>
  Notice the {{data.vmware_cred_username}}-mysql(common) contract between Kubernetes and Baremetal workload</p>
<img src="/lab/static/images/ccp/lwall8.png" class="img-responsive img-shadow">


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Delete the {{data.vmware_cred_username}}-mysql consumed contract from the 'api' EPG</h3>
<p>
<p>Under Tenant {{data.vmware_cred_username}}, expand 'Application Profiles' then 'livewall' then 'api' <br>
Select the {{data.vmware_cred_username}}-mysql contract and delete from the menu on top right</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/15" class="img-responsive">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine if the App broke by visiting the LiveWall Webpage from Step 7</h3>
<p>
Within a few seconds, you will notice that the application is now broken</p>

<img src="/lab/static/images/ccp/lwall10.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Let's go back to ACI and re-add the contract</h3>
<p>Under Tenant {{data.vmware_cred_username}}, expand 'Application Profiles' then 'livewall' then 'api' <br>
Select 'Add Consumed Contract from the menu on top right</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/16" class="img-responsive">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Select '{{data.vmware_cred_username}}-mysql' from the drop down menu</h3>
<p>Click Submit</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/17" class="img-responsive">

{{ end_of_page(page_position,data) }}
{% endblock %}
