{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Kubernetes Setup</div>
    <div class="title_section">Management</div>
</div>
{{ html_for_step_status|safe }}

<h1>Lab Toplogy</h1>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/991" class="img-responsive">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - SSH to your jumpbox and connect to your Master node</h3>
<p>SSH using putty to your jumphost at IP address -{{data.pod_master_ip}} or click here -
<a target="_blank" href="chrome-extension://pnhechapfaindjhompbnflcldabbghjo/html/nassh.html#ccpuser@{{data.pod_master_ip}}:22">
<img src="/core/static/images/symbols/ssh_pointer.png" style="height:20px;" >
</a>
<p>Type <b>'yes'</b> if prompted with ssh key validation message</p>
</p>
<p>Click 'Copy' on the right to copy the command into your clipboard<br>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
mkdir -p $HOME/.kube
export TOKEN=$(curl -v -k -X POST -H "Content-Type:application/x-www-form-urlencoded" -d "username=admin&password=admin" https://10.139.13.50/v3/system/login  2> >(grep X-Auth-Token) | grep X-Auth-Token | awk -F ":" '{print $2}' | tr -d '\n\r')
export {{data.apic_stdnt_uname}}Master=$(curl -ksSL --request GET -H "X-Auth-Token":"$TOKEN" $CCP/v3/clusters/ | jq '.[] | .master_group.nodes' | jq '.[] | .name, .public_ip' | awk '/{{data.apic_stdnt_uname}}-0-master-0/{getline;print;}' | tr -d '\"')

</code>
</pre>
</div>
<br>
<p>SSH to your master node
<br>Type <b>'yes'</b> if prompted with ssh key validation message</p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
ssh ${{data.apic_stdnt_uname}}Master
</code>
</pre>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Configure access to you k8s cluster</h3>
<p>In order to access your Kubernetes cluster, we'll have to copy the kubeconfig file to your jumphost</p>
<br>Type 'yes' if prompted with ssh key validation message
<br>When prompted, type in the password to your jumphost which is <b>'C1sco123'</b>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.node1_prompt}}">
<code class="language-bash">
sudo cp -i /etc/kubernetes/admin.conf config
sudo chown ccpuser config
scp config {{data.pod_master_ip}}:~/.kube/
</code>
</pre>
</div>



<p>Type exit and get back to the the jumphost</p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.node1_prompt}}">
<code class="language-bash">
exit
</code>
</pre>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Test kubernetes connection from Jumphost</h3>
<b>Use 'kubectl' to get node and pod information</b>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get nodes -o wide
kubectl get pods --all-namespaces
</code>
</pre>
</div>
<p>The output should look something similar to this.</p>
  <img src="/lab/static/images/ccp/lwall1.png" class="img-responsive img-shadow">



{{ end_of_page(page_position,data) }}
{% endblock %}
