{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">CCP Tenant Cluster</div>
    <div class="title_section">Deployment</div>
</div>
{{ html_for_step_status|safe }}

<h1>CCP Lab Toplogy</h1>
<p>
    In this section, you will deploy a tenant cluster from CCP. This is the first step after deploying CCP for a company to start
    using it. Each new cluster is a boundary of controlplane and dataplane with its own access to the kubernetes cluster.
    You would provide access to the cluster via API to various dev/ops teams based on their functional separation.
    <br><b>For this lab each pod has admin access to the common CCP control plane
    cluster which will be used to deploy the tenant clusters.</b>
</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/991" class="img-responsive">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Create a public key on the jumphost</h3>
<p>Public key authentication allows for stronger cryptographic security over any password. In this step, you are first
  creating a key pair. A key pair consists of a public key and a private key. You would copy your public key to a
  server that you would like secure access to. This allows for both encrypted communications and password free remote access.
  The server adds this key to it's 'authorized keys' file. Only the person with the corresponding private key can now authenticate without
  a password. </p>
<p>SSH using putty to your jumphost at IP address -<b>{{data.pod_master_ip}}</b> using the following credentials
<br>Username: ccpuser<br>
Password: C1sco123
 </p>
<p>Type <b>'yes'</b> if prompted with ssh key validation message; we use the public key for authentication to CCP tenant nodes</p>
<p>Click <b>'Copy'</b> on the far right to copy the command into your clipboard and paste it on your jumphost's terminal</p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
ssh-keygen -t ecdsa -N '' -f ~/.ssh/id_ecdsa <<< y
</code>
</pre>
</div>
<p>The output you see should be similar to the image as shown below</p>
<img src="/lab/static/images/ccp/ccp5.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Copy your public key from the jumphost</h3>
<p>Display the public key using 'cat'. This key will be used on your kubernetes master and nodes so that you may be able to ssh to them if necessary.</p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
cat ~/.ssh/id_ecdsa.pub
</code>
</pre>
</div>
<p><b>Highlight the key from "ecdsa-sha2......... to .......... "=" sign as show in the image below;<br>Open notepad, and paste it for later use</b> We will use this key when building
out the kubernetes master and worker nodes from CCP</p>
<img src="/lab/static/images/ccp/ccp6.png" class="img-responsive img-shadow">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Connect to CCP admin console</h3>
<p>
    You will need to point the browser on your lab laptop  to the CCP admin website in this lab. Using the same
    Chrome browser that you are using to read this guide, go to the URL:
     <a href="http://ccp-aci/ver/3/clusters" target="_blank">CCP Admin</a>
</p>
<p>Ignore/accept the invalid SSL certificate</p>
<p>The credentials for CCP are:
<ul>
    <li>
        User ID: {{data.apic_stdnt_uname}}
    </li>
    <li>
        Password: C1sco123
    </li>

</ul>
</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/19" class="img-responsive img-shadow">




<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Create new cluster by clicking on 'NEW CLUSTER'</h3>
<p>
Make sure that you are using 'VERSION3' and are using vSphere</p>
<img src="/lab/static/images/ccp/ccp1.png" class="img-responsive img-shadow">



<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Create a new '{{data.apic_stdnt_uname}}' Cluster</h3>
<p>
    Infrastructure provider - vsphere (In production env, you might have several providers)
    </p>
    <p>Kubernetes Cluster Name - '{{data.apic_stdnt_uname}}'</p>
    <p>ACI CNI profile - 'cloud-aci' which contains ACI specific settings</p>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/8" class="img-responsive">
<p><b>Click 'NEXT'</b></p>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Fill in the provider details</h3>
<p>This page is for vCenter specific details as shown, pick '{{data.apic_stdnt_uname}}' as your resource pool</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/13" class="img-responsive">
<p>
<b>Click 'NEXT'</b>
</p>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Fill in your Master/Node specific details</h3>
<p>
Please choose only 1 Master and 1 Worker (the defaults) in order to reduce load on the lab equipment. <br>
Use the ssh key from Step 1, on the 2nd box 'SSH KEY' <br>
We will use a local Harbor registry to expedite App installaton. Harbor Registry is an enterprise-class
registry server that stores and distributes container images.
CCP control plane comes with this built-in if you chose to install it on your CCP cluster.</p>
<p>{{copythis(data.pod_cidr)}} <br> <b>^^^ ROUTABLE CIDR ^^^</b></p>
<p>{{copythis('10.101.128.101')}} <br> <b>^^^ NTP SERVER ^^^</b></p>
<p>
{{copythis('10.139.12.210')}}  <br> <b>^^INSECURE REGISTRIES^^</b>
</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/9" class="img-responsive">
<p>Input NTP and Registry as shown below (At least one entry for NTP)</p>
<img src="/lab/static/images/ccp/ccp7.png" class="img-responsive img-shadow">
<p>Double-check the settings and then, Click <b>'NEXT'</b>, and <b>'FINISH'</b></p>

{{ end_of_page(page_position,data) }}
{% endblock %}
