{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">{{data.vmware_cred_username}} cluster</div>
    <div class="title_section">Deployment</div>
</div>
{{ html_for_step_status|safe }}

<h1>CCP Lab Toplogy</h1>
<p>In this section, you will be using Cisco ACI and VMware vCenter along with CCP to monitor the deployment of your tenant cluster</p>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/991" class="img-responsive">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Log into VMware vCenter</h3>
<p>Point your browser to https://10.101.128.100/ui or click here -
<a target='_blank' href='https://10.101.128.100/ui'>
<img src="/core/static/images/symbols/http_pointer.png" style="height:25px;" >
</a>
</p>
<p>The credentials for vCenter are:</p>
<ul>
    <li>
        User ID: {{data.vmware_cred_username}}
    </li>
    <li>
        Password: C1sco123
    </li>

</ul>

<p>Ignore/accept the invalid SSL certificate</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/10" class="img-responsive">


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Check the status of your VM deployment</h3>
<p>
    Expand the view to your resource group. <br>You sould see a <code>{{data.vmware_cred_username}}-0-master-0</code> master
    VM and a <code>{{data.vmware_cred_username}}-1-node-gr-0</code> node VM
    being deployed in the recent Tasks under your resource pool.
</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/14" class="img-responsive img-shadow ">


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Login to APIC to see what CCP has deployed</h3>
<p>
  <a target="_blank" href="http://{{data.apic4pod}}">Your POD APIC at
        {{data.apic4pod}}</a>.
</p>
<p>The credentials for this APIC are:</p>
<ul>
    <li>
        User ID: {{data.apic_stdnt_uname}}
    </li>
    <li>
        Password: {{data.apic_stdnt_pass}}
    </li>
    <li>Domain: acs</li>
</ul>
<br>
<p>

  <p>
      Notice that CCP has created a new {{data.vmware_cred_username}} tenant
      ; click on 'Tenants', and then click on {{data.vmware_cred_username}}
  </p>
  <img src="/lab/imgman/pod/{{ data.pod_id }}/id/11" class="img-responsive img-shadow ">



<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Explore the '{{data.apic_stdnt_uname}}' tenant details</h3>
<p>
    Expand Application Profiles and Applicaton EPGs under kubernetes. Click on kubernetes.
    </p>
    <p>Click on the Topology view that shows the EPGs and Contracts</p>
    <p>Explore the relationship between the EGPs by clicking on 'kube-default' in the image</p>
    <p>Cisco ACI uses EPGs (End Point Groups - dark blue bubbles in the bottom of the image) as a boundary to seperate devices into groups based on their security requirements.
    If this is the first time you are seeing ACI, you may think of EGP as a VLAN. There is no communication allowed between EPGs
  by default. To facilitate communication between EPGs, you must configure contracts (light blue bubbles in the image). CCP has automatically
built both the EPGs and the relevant contracts for Kubernetes within ACI using API calls. CCP also configures vCenter with the corresponding
port groups via ACI and puts the kubernetes nodes in them.</p>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/12" class="img-responsive">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Check to see if ACI sees the Nodes</h3>
<p>Click on kube-nodes, and Operational. The operational tab under an EPG in ACI shows the current active devices that ACI
sees from the leaf switch ports. ACI keeps track of both the mac-addresses and IP addresses within the fabric, thus eliminating
the need for arp and reducing broadcasts and removing 'flood-and-learn' from the fabric; one of the many advantages of ACI.</p>
<p>Notice that ACI has learned the IP addresses of the nodes from the <b>data plane</b></p>
<img src="/lab/static/images/ccp/aci02.png" class="img-responsive img-shadow">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine the additions in the VMM domain section</h3>
<p>
Click on 'Virtual Networking' and Expand Kubernetes under 'Container Domains'</p>
<p>ACI integrates with many virutalization environments including HyperV, KVM, Openstack, RHEV. ACI also integrates with
   multiple container domains including Cloud Foundry and Openshift along with vSphere. ACI integrates with Kubernetes when you use
   ACI-CNI plugin. If you have ACI in your environment and do not have CCP and instead have vanilla kubernetes, ACI-CNI plugin brings
   this same level of integration that you see here in this lab.
   As you navigate through the Kubernetes section in ACI, you begin to appreciate the level of visibility that ACI brings
   to the table when integrated with Kubernetes.</p>Expand {{data.vmware_cred_username}} and look for any pods in the 'default' namespace.
We will deploy an application into this namespace in the next section
<img src="/lab/static/images/ccp/aci0311.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Check the status and details of your cluster deployment in CCP</h3>
<p>
Go back to the tab/window with Cisco Container Platform <br>Log back in with 'admin/admin' if your session has expired </p>
<p>For {{data.vmware_cred_username}}, click on the icon below 'Actions' and click 'View Details' </p>
<img src="/lab/static/images/ccp/ccp9.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Why do the nodes have two of the same IP addresses?</h3>
<p>At this point, your kubernetes tenant cluster is deployed and ready for use.
  Notice the button which says <code>DOWNLOAD KUBECONFIG</code> in the image? This is the file that you would handover to
any user(s) that would want to use the cluster. The file contains the authenication key (token) and other parameters necessary
to connect to the cluster and start using it. In the next section, we'll use a different method to get this file (Developers don't use Web U.I. toos!)</p>
<img src="/lab/static/images/ccp/ccp10.png" class="img-responsive img-shadow">


{{ end_of_page(page_position,data) }}
{% endblock %}
