{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">{{data.vmware_cred_username}} Cluster</div>
    <div class="title_section">Deployment</div>
</div>
{{ html_for_step_status|safe }}

<h1>CCP Lab Toplogy</h1>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/991" class="img-responsive">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Log into VMware vCenter</h3>
<p>Point your browser to https://10.101.128.100/ui or click here -
<a target='_blank' href='https://10.101.128.100/ui'>
<img src="/core/static/images/symbols/http_pointer.png" style="height:25px;" >
</a>
</p>
<p>Ignore/accept the invalid SSL certificate</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/10" class="img-responsive">

<p>The credentials for vCenter are:</p>
<ul>
    <li>
        User ID: {{data.vmware_cred_username}}
    </li>
    <li>
        Password: C1sco123
    </li>

</ul>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Check the status of your VM deployment</h3>
<p>
    You sould see a {{data.vmware_cred_username}}-0-master-0 master VM and a {{data.vmware_cred_username}}-1-node-gr-0 node VM
    being deployed in the Recent Tasks under your resource pool
</p>
<p>Take note of the IP addresses assigned by the CCP control plane cluster</p>
<img src="/lab/static/images/ccp/vmw2.png" class="img-responsive img-shadow">


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Login to APIC to see what CCP has deployed</h3>
<p>
  <a target="_blank" href="http://{{data.apic4pod}}">Your POD APIC at
        {{data.apic4pod}}</a>.
</p>
<p>The credentials for this APIC are:</p>
<ul>
    <li>
        User ID: {{data.apic_stdnt_uname}}
    </li>
    <li>
        Password: {{data.apic_stdnt_pass}}
    </li>
    <li>Domain: acs</li>
</ul>
<br>
<p>

  <p>
      Notice that CCP has created a new {{data.vmware_cred_username}} tenant
      ; click on 'Tenants', and then click on {{data.vmware_cred_username}}
  </p>
  <img src="/lab/imgman/pod/{{ data.pod_id }}/id/11" class="img-responsive img-shadow ">



<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Explore the '{{data.apic_stdnt_uname}}' tenant details</h3>
<p>
    Expand Applciation Profiles and Applicaton EPGs.
    </p>
    <p>Click on the Topology view that shows the EPGs and Contracts</p>
    <p>Exlore the relationship between the EGPs by clicking on 'kube-default' in the image</p>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/12" class="img-responsive">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Check to see if ACI sees the Nodes</h3>
<p>Click on kube-nodes, and Operational</p>
<p>Examine the IP addresses that ACI has detected from the data plane</p>
<img src="/lab/static/images/ccp/aci02.png" class="img-responsive img-shadow">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Fill in your Master/Node specific details</h3>
<p>
Please chose only 1 Master and 1 Workers in order to reduce load on the lab equipment</p>
<p>Use the ssh key from Step 1</p>
<p>We will use a local Harbor registry to expedite App installaton</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/9" class="img-responsive">

<p>Click NEXT</p>

{{ end_of_page(page_position,data) }}
{% endblock %}
