{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">CCP Configuration</div>
    <div class="title_section">Control Plane</div>

<h1>CCP Control Plane Setup</h1>
<p>
    The following steps show the initial CCP Controller Cluster configuration.</p>
    <p>This portion of the lab Excercise is common to all students and is already completed</p>
<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
        <img src="/lab/static/images/ccp/ccmlab.png" class="img-responsive center-block ">
    </div>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Download and deploy the OVF templates from Cisco.com</h3>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
          <img src="/lab/static/images/ccp/ccmlab2.png" class="img-responsive center-block ">
      </div>
  </div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Power on the installer OVA (kcp-vm-5.1.0)</h3>
<p>Point your browser to the Installer UI address that the VM picked up from DHCP</p>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
          <img src="/lab/static/images/ccp/ccmlab3.png" class="img-responsive center-block ">
      </div>
  </div>



<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Click on 'INSTALL' button for new installation</h3>
<p>You are also able to upgrade an existing cluster from this VM</p>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
          <img src="/lab/static/images/ccp/ccmlab4.png" class="img-responsive center-block ">
      </div>
  </div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Provide vCenter credentials and IP Addresses</h3>
<p>This is where you would provide cluster placement & configuration details</p>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
          <img src="/lab/static/images/ccp/ccmlab5.png" class="img-responsive center-block ">
      </div>
  </div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Click on the Launch button (or point to the IP address)</h3>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
          <img src="/lab/static/images/ccp/ccmlab6.png" class="img-responsive center-block ">
      </div>
  </div>

{{ end_of_page(page_position,data) }}
{% endblock %}
