{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Initial CCP Install</div>
    <div class="title_section">MGMT Cluster</div>
</div>
{{ html_for_step_status|safe }}

<h1>CCP Control Plane Build <b>(Completed Previously)</b></h1>
<p>
  <h5><b>  This portion of the lab excercise is common to all students and is already setup. <br>
    We have added this section for your reference to show the steps necessary to stand up CCP</b></h5>
</p>
<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
        <img src="/lab/static/images/ccp/ccpstart.png" class="img-responsive center-block ">
    </div>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Download and deploy the OVF templates from Cisco.com (Already completed)</h3>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
          <img src="/lab/static/images/ccp/ccmlab2.png" class="img-responsive center-block ">
      </div>
  </div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Power on the installer OVA (kcp-vm-5.1.0) (Already completed)</h3>
<p>Point your browser to the Installer UI address that the VM picked up from DHCP</p>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
          <img src="/lab/static/images/ccp/ccmlab3.png" class="img-responsive center-block ">
      </div>
  </div>



<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Click on 'INSTALL' button for new installation (Already completed)</h3>
<p>You are also able to upgrade an existing cluster from this VM</p>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
          <img src="/lab/static/images/ccp/ccmlab4.png" class="img-responsive center-block ">
      </div>
  </div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Provide vCenter credentials and IP Addresses (Already completed)</h3>
<p>This is where you would provide cluster placement & configuration details <code>(only displaying Step 2, but the rest are self-explanatory)</code></p>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
          <img src="/lab/static/images/ccp/ccmlab4.jpg" class="img-responsive center-block ">
      </div>
  </div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Click on the Launch button (or point to the IP address) (Already completed)</h3>
  <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
          <img src="/lab/static/images/ccp/ccm5.jpg" class="img-responsive center-block ">
      </div>
  </div>
  <h3><b>On the console of the Installer VM, you'll notice similar details but with timestamps<b></h3>
    <p><b><code>Total time from start to finish - under 30 minutes</code></b></p>
  <img src="/lab/static/images/ccp/ccm20.jpg" class="img-responsive img-shadow">

{{ end_of_page(page_position,data) }}
{% endblock %}
