{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}
<div class="section_header">
  <div class="title">Docker Networking</div>
  <div class="title_section"></div>
</div>



<img src="/lab/imgman/pod/{{ data.pod_id }}/id/992" class="img-responsive">
<p>
  <b>Now that we understand a little more on container networks, let's look at our application that
  has been deployed and how the container communicates with the host and external networks.</b>
</p>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine the interfaces and ip addresses of the host</h3>
<p>Notice the 'docker0' interface and it's ip address? How about the interface beneath it? Look at the interface id and then compare that with
the output of Step 5. in this page. You will see that this is an interface "pair" between the bridge and the container. </p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_ksroot}}" data-output="2-4">
<code class="language-bash">
ip address
</code>
</pre>
</div>
<pre>
  1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
      link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
      inet 127.0.0.1/8 scope host lo
         valid_lft forever preferred_lft forever
      inet6 ::1/128 scope host
         valid_lft forever preferred_lft forever
  2: ens192: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc mq state UP group default qlen 1000
      link/ether 00:50:56:8f:2b:99 brd ff:ff:ff:ff:ff:ff
      inet 10.139.14.22/24 brd 10.139.14.255 scope global noprefixroute dynamic ens192
         valid_lft 10796sec preferred_lft 10796sec
      inet6 fe80::3352:a577:e7dd:7e98/64 scope link tentative noprefixroute dadfailed
         valid_lft forever preferred_lft forever
      inet6 fe80::2959:c8da:ab27:af57/64 scope link tentative noprefixroute dadfailed
         valid_lft forever preferred_lft forever
      inet6 fe80::95a4:6361:e270:c7cd/64 scope link noprefixroute
         valid_lft forever preferred_lft forever
  3: docker0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default
      link/ether 02:42:13:4a:e0:b3 brd ff:ff:ff:ff:ff:ff
      inet 172.17.0.1/16 brd 172.17.255.255 scope global docker0
         valid_lft forever preferred_lft forever
      inet6 fe80::42:13ff:fe4a:e0b3/64 scope link
         valid_lft forever preferred_lft forever
  11: vethe488ce9@if10: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue master docker0 state UP group default
      link/ether fe:a7:91:e9:fe:38 brd ff:ff:ff:ff:ff:ff link-netnsid 0
      inet6 fe80::fca7:91ff:fee9:fe38/64 scope link
         valid_lft forever preferred_lft forever
</pre>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Display the docker instances and exposed ports</h3>
<p> <strong>Copy the 'CONTAINER ID' from your output</strong> We will use it to explore its details later in this section</p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_ksroot}}" data-output="2-4">
<code class="language-bash">
docker ps
</code>
</pre>
</div>
<pre>
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS                NAMES
3e9219d1debc        go-server           "/bin/sh -c /home/se…"   2 hours ago         Up 2 hours          0.0.0.0:80->80/tcp   xenodochial_morse
</pre>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Display all the networks available for docker</h3>
<p>Notice the presence of 'Bridge' and 'Host' networks similar to what you would see in a virtualized enviroment. In addition to these
three default networks, there are two more networks that docker makes available for use, 'overlay' and 'macvlan'
<br>Here is a brief synopsys of these from docker.com </p>
<ul>

<li>bridge: The default network driver. If you don’t specify a driver, this is the type of network you are creating. Bridge networks are usually used when your applications run in standalone containers that need to communicate. See bridge networks.
</li>
<li>host: For standalone containers, remove network isolation between the container and the Docker host, and use the host’s networking directly. host is only available for swarm services on Docker 17.06 and higher. See use the host network.
</li>
<li>overlay: Overlay networks connect multiple Docker daemons together and enable swarm services to communicate with each other. You can also use overlay networks to facilitate communication between a swarm service and a standalone container, or between two standalone containers on different Docker daemons. This strategy removes the need to do OS-level routing between these containers. See overlay networks.
</li>
<li>macvlan: Macvlan networks allow you to assign a MAC address to a container, making it appear as a physical device on your network. The Docker daemon routes traffic to containers by their MAC addresses. Using the macvlan driver is sometimes the best choice when dealing with legacy applications that expect to be directly connected to the physical network, rather than routed through the Docker host’s network stack. See Macvlan networks.
</li>
<li>none: For this container, disable all networking. Usually used in conjunction with a custom network driver. none is not available for swarm services. See disable container networking.
</li></ul>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_ksroot}}" data-output="2-4">
<code class="language-bash">
docker network ls
</code>
</pre>
</div>
<pre>
docker network ls
NETWORK ID          NAME                DRIVER              SCOPE
5c26defaad25        bridge              bridge              local
470521b54f60        host                host                local
9af8c48b8d0b        none                null                local
</pre>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Explore the 'bridge' network in detail</h3>
Can you find the IP address of your container? <br>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_ksroot}}" data-output="2-4">
<code class="language-bash">
docker network inspect bridge
</code>
</pre>
</div>

<pre>
<code class="language-json">
  [
      {
          "Name": "bridge",
          "Id": "5c26defaad251b82e1b0bc99d451ac945d2c74e3bd4002d30b08286d08c100f9",
          "Created": "2020-01-16T16:51:35.573774461-05:00",
          "Scope": "local",
          "Driver": "bridge",
          "EnableIPv6": false,
          "IPAM": {
              "Driver": "default",
              "Options": null,
              "Config": [
                  {
                      "Subnet": "172.17.0.0/16"
                  }
              ]
          },
          "Internal": false,
          "Attachable": false,
          "Ingress": false,
          "ConfigFrom": {
              "Network": ""
          },
          "ConfigOnly": false,
          "Containers": {
              "3e9219d1debca99ec642cb11b5673b9fcbc31aacffa93faf620081632a5c992d": {
                  "Name": "xenodochial_morse",
                  "EndpointID": "213f3be29e879d549289d2c912dcefb44fa3b1cda32fb902cc6c4aa7a5782129",
                  "MacAddress": "02:42:ac:11:00:02",
                  "IPv4Address": "172.17.0.2/16",
                  "IPv6Address": ""
              }
          },
          "Options": {
              "com.docker.network.bridge.default_bridge": "true",
              "com.docker.network.bridge.enable_icc": "true",
              "com.docker.network.bridge.enable_ip_masquerade": "true",
              "com.docker.network.bridge.host_binding_ipv4": "0.0.0.0",
              "com.docker.network.bridge.name": "docker0",
              "com.docker.network.driver.mtu": "1500"
          },
          "Labels": {}
      }
  ]
</code>
</pre>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Getting the ip address of the container</h3>

<p>
  We can quickly look in the container and see the IP (<code>use the <b>'CONTAINER ID'</b> from step 2</code>).
</p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_ksroot}}" data-output="2-4">
<code class="language-bash">
docker exec -it {'CONTAINER ID'} ip a
</code>
</pre>
</div>
<pre>
  docker exec -it <b>3e9219d1debc</b> ip a
  1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue qlen 1000
      link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
      inet 127.0.0.1/8 scope host lo
         valid_lft forever preferred_lft forever
  10: eth0@if11: <BROADCAST,MULTICAST,UP,LOWER_UP,M-DOWN> mtu 1500 qdisc noqueue
      link/ether 02:42:ac:11:00:02 brd ff:ff:ff:ff:ff:ff
      inet 172.17.0.2/16 brd 172.17.255.255 scope global eth0
         valid_lft forever preferred_lft forever
</pre>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Add another container to this setup</h3>

<p>
  Let's try running the same command as before using the same image that we built earlier...
  <br>Notice, "port is already allocated" error? We are already running another container exposing the same ports.
</p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_ksroot}}" data-output="2-4">
<code class="language-bash">
  docker run -d -p 80:80 --rm -it go-server
</code>
</pre>
</div>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->

<h3>Step {{ step }} - Let's change the port and try again!</h3>
<p>
Change the port to 8080 and try again, see if you can access the website on the new port - <a href="http://{{data.pod_node1_ip}}:8080/Pod{{data.pod_numstr}}, Here is your 2nd Web Server on port 8080" target="_blank">POD{{data.pod_numstr}} My 2nd  Web Server</a></p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_ksroot}}" data-output="2-4">
<code class="language-bash">
  docker run -d -p 8080:80 --rm -it go-server
</code>
</pre>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->

<h3>Step {{ step }} - Let's analyze the network setup now</h3>
<p>Let's first get the IP address and interface details of the host. Next, inspect the docker processes running.
  Notice the two different ports, 8080, and 80 pointing to the image which is listening on port 80</p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_ksroot}}" data-output="2-4">
<code class="language-bash">
  ip address
  docker ps
</code>
</pre>
</div>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Getting the ip address of the both the containers</h3>

<p>
  Copy the container ID from the previous step and run the command <b>twice!</b>.
</p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_ksroot}}" data-output="2-4">
<code class="language-bash">
docker exec -it {'CONTAINER ID'} ip a
</code>
</pre>
</div>

{{ end_of_page(page_position,data) }}
{% endblock %}
