{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Deploying Docker</div>
    <div class="title_section">Applications</div>
</div>
<p>
    In the previous section we started with an Ubuntu image. This is a pretty big docker image to start with and using such an image for
    a micro-service in an application can lead to inefficiency and other problems. You always want to think as containers
    starting from the bare-minimum requirements, in other words. It is best to start from the ground up.
</p>
<p>
    For this reason there are various container distributions that are very small and contain just the bare requirements to
    run. One of these is called <strong>Alpine</strong> linux. Another is called <strong>busybox</strong>.
</p>
<p>
    If you go to <a href="https://hub.docker.com/_/busybox/" target="_blank">busybox repository in Docker Hub ( https://hub.docker.com/_/busybox/ ) </a>
    you will start to see significant differences between busybox and Ubuntu. For example if you click on the Tags you will notice that
    the compressed size is around 800KB ( compared to Ubuntu's 43MB ). Using these small containers will lead to smaller download times from
    registries, easier manipulation and a more secure environment ( less processes running in the containers ). Yet the challenge with
    these containers is, because they have been brought down to a bare minimum, they are not well suited for human interaction. They miss
    many of the amenities of a normal Linux installation ( e.g. Alpine doesn't even include bash, only sh )
</p>
<p>
    But these provide great foundations of simplicity on which we can build a container that performs the specific function you
    are looking for and nothing else.
</p>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/991" class="img-responsive">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Download busybox image</h3>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-4">
<code class="language-bash">
docker pull busybox
</code>
</pre>
</div>
<p>
    Running the command docker images will give you an immediate view of the different between these two
    containers as it relates to size.
</p>

<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-4">
<code class="language-bash">
docker images
</code>
</pre>
</div>

<pre>
{{ data.master_prompt}} docker images
REPOSITORY TAG IMAGE ID CREATED SIZE
ubuntu 16.04 f975c5035748 2 weeks ago 124MB
busybox latest 3fd9065eaf02 2 months ago 1.22MB
</pre>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Using busybox image</h3>
<p>
    Busybox is a tiny linux image, meant for space efficient distributions.
    This comes at a cost. You will find that most of the shell utilities you
     are familiar with are not present in busybox, in order to maintain its tiny size.
     <p>If you want to explore the shell yourself, run this command :</p>
</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-4">
<code class="language-bash">
docker run -it --rm busybox
</code>
</pre>
</div>
<br>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.container_alpine_prompt}}" data-output="2-4">
<code class="language-bash">
ls
ip address
which nginx
which apache
python
</code>
</pre>
</div>
<p>
    The image is so small and does not include a web server (or even python).
    This leaves us with the only option of executing binaries directly on it. </p>
    <div class="fancy-terminal">
        <pre class="command-line language-bash" data-prompt="{{ data.container_alpine_prompt}}" data-output="2-4">
    <code class="language-bash">
exit
    </code>
    </pre>
    </div>
     <p>Let's build our own web server
    based on go. (The go programming language is already installed on this server)</p>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Writing our own web server app</h3>
<p>Google's go language is very easy to learn and build executables <br> <b>Here is a simple code snipit to build a Web Server</b>
  The following will create a file called 'server.go' on your working directory</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_dockerplay}}" data-output="2-12">
<code class="language-bash">
cat &lt;&lt; EOF &gt; server.go
package main

import (
"fmt"
"net/http"
)

func handler(w http.ResponseWriter, r *http.Request) {
fmt.Fprintf(w, "Hello Cisco Live %s!", r.URL.Path[1:])
}

func main() {
http.HandleFunc("/", handler)
fmt.Println("Server running...")
http.ListenAndServe(":80", nil)
}
EOF
</code>
</pre>
</div>
<p>Next, we have to build the binary which will sit on top of busybox.
  In order to do this, we will have to specify some additional settings
  to build the binary for busybox, since the server we are on
   doesn’t have the same OS or architecture. We do this with the GOOS and GOARCH environment variables</p>
   <p>This will compile an executable binary called 'server' on your working directory</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-4">
<code class="language-bash">
GOOS=linux GOARCH=386 go build ./server.go
</code>
</pre>
</div>

<h1>Dockerfile</h1>
<p>
    Dockerfile is a instruction set for building a docker image.
    The advantage of Dockerfile is that a text file can be used to define the exact
    construct of the container and how that container is to interact with the host
    operating system, file system and network components. Many applications use
    Dockerfiles as the mechanism to define how a series of containers interact
    with each other to build an application of micro-services.
</p>
<p>
    The file is composed of a series of instructions. A couple of these are:
</p>
<table class="table table-condensed">
    <tr>
        <th>COMMAND</th>
        <th>DESCRIPTION</th>
    </tr>
    <tr>
        <td>FROM</td>
        <td>
            Defines the base image for the container build and subsequent instructions. In our case
            we would start with the alpine image and then add to it.
        </td>
    </tr>
    <tr>
        <td>RUN</td>
        <td>
            The RUN command will execute the commands in the new R/W layer that is created for
            the container.
        </td>
    </tr>
    <tr>
        <td>CMD</td>
        <td>
            There can only be <strong>one</strong> CMD defined in a Dockerfile. If you list more than
            one, only the last one will take effect. The main purpose of CMD is to provide
            defaults for an executing container.
        </td>
    </tr>
    <tr>
        <td>EXPOSE</td>
        <td>
            This instruction informs Docker that the container listens on the specified ports at runtime.
        </td>
    </tr>
    <tr>
        <td>COPY</td>
        <td>
            Copies files from a directory into the container filesystem R/W layer.
        </td>
    </tr>
    <tr>
        <td>VOLUME</td>
        <td>
            Creates a mount point from the native host. Provides a mechanism to have a view
            onto the host container filesystem.
        </td>
    </tr>
</table>
<p>
    For a complete reference on Dockerfile please check the <a target="_blank" href="https://docs.docker.com/engine/reference/builder/">
        Reference Documentation at Docker.</a>
</p>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Write a 'Dockerfile' for our build</h3>
<p>
    Now that you have made the changes to the container, we can make a new container image based on those changes.
</p><div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_dockerplay}}" data-output="2-12">
<code class="language-bash">
cat &lt;&lt; EOF &gt; Dockerfile
FROM busybox
COPY ./server /home/
CMD /home/server
EOF
</code>
</pre>
</div>
<p>Let's run docker to build the new image</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_dockerplay}}" data-output="2-12">
<code class="language-bash">
docker build -t go-server .
</code>
</pre>
</div>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Running the modified busybox docker image with new application</h3>
<p>
    Let's start a new container from our image <code>go-server</code>.
    <br>We will be translating port 80 from the container to the host ip address.
</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-4">
<code class="language-bash">
docker run -d -p 80:80 --rm -it go-server
</code>
</pre>
</div>
<p>
    Point your browser to http://$masterip/$podname</p>
    <p>
      The application should be viewable in your browser at:
      <a href="http://{{data.pod_master_ip}}:8000" target="_blank">POD{{data.pod_numstr}} My Play App</a>
    </p>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Let's look at all the image list again</h3>
<p></p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_dockerplay}}" data-output="2-12">
<code class="language-bash">
docker images
</code>
</pre>
</div>
<pre>
"{{ data.master_prompt}}" docker images
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
go-server           latest              61fbeba05147        6 minutes ago       7.79MB
ubuntu              16.04               96da9143fb18        21 hours ago        124MB
busybox             latest              6d5fcfe5ff17        3 weeks ago         1.22MB
</pre>

<p>
    Now you have created a new container image that contains busybox and the webserver
    that you built. You will notice that the image size has increased to
    a size of 8MB. That was just a simple additon of a binary. Now imagine basing that
    in an image that is bigger. If you aren't paying attention container images can grow
    to a point that they are no different than virtual machines, bloated with things
    that are not necessary for the proper execution of your micro-service application.
</p>


{{ end_of_page(page_position,data) }}
{% endblock %}
