{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}
<div class="section_header">
  <div class="title">Adding Kubernetes</div>
  <div class="title_section">workers</div>
</div>

<h1>Configuring your first worker node!</h1>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/991" class="img-responsive">
<p>
  <b>Now that we understand a little more on container networks, let's look at our application that
  has been deployed and how the container communicates with the host and external networks.</b>
</p>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Install repo utilities to Master</h3>
<p>-----add ssh command and ip addresses here------ <br>enter password 'C1sco123' whenever prompted</p>
<p>
    Before we install docker, you will install some utilities that are required for docker to run on the OS.
</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  sudo su
yum install -y yum-utils
yum install -y device-mapper-persistent-data lvm2
</code>
</pre>
</div>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Install EPEL repository</h3>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
yum -y install epel-release
</code>
</pre>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Add repository for docker</h3>
<p>
    You will need to add the docker community edition repository into the linux distribution.
</p>
<div class="fancy-terminal">
    <pre class="command-line" data-prompt="{{ data.master_prompt}}" data-output="2-5">
<code class="language-bash">
yum-config-manager \
        --add-repo \
        https://download.docker.com/linux/centos/docker-ce.repo
</code>
</pre>
</div>
<p>
    Now that you used yum-config-manager to insert the repo, you need to tell yum to re-read cache.
</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
yum makecache fast
</code>
</pre>
</div>




<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Install docker community edition</h3>
<p>
    In this particular lab we will be leveraging version <code>{{data.docker_ce_version}}</code>.
</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-9">
<code class="language-bash">
yum install -y {{data.docker_ce_version}}
</code>
</pre>
</div>



<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Enable and start Docker service</h3>
<p>
    With all these modifications you can now enable the docker service and start the docker service
</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{data.master_prompt}}" data-output="2-9">
<code class="language-bash">
systemctl enable docker.service
</code>
</pre>
</div>

<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{data.master_prompt}}" data-output="2-9">
<code class="language-bash">
systemctl start docker.service
</code>
</pre>
</div>


<p>
    Verify that the service is started and working properly.
</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-9">
<code class="language-bash">
systemctl status docker.service
</code>
</pre>
</div>

<pre>
{{data.master_prompt}} systemctl status docker.service
docker.service - Docker Application Container Engine
Loaded: loaded (/usr/lib/systemd/system/docker.service; enabled; vendor preset: disabled)
Active: <b>
    <font color="green">active (running) </font>
</b>since Fri 2018-05-04 09:46:16 EDT; 1 day 5h ago
Docs: https://docs.docker.com
Main PID: 24923 (dockerd)
CGroup: /system.slice/docker.service
</pre>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Lets disable the firewall and make SElinux permissive</h3>
<p>For ease of installation, let's stop the iptables service! (In production, you'll punch holes in the firewall instead of disabling it altogether!)</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-4">
<code class="language-bash">
systemctl stop firewalld
</code>
</pre>
</div>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-4">
<code class="language-bash">
setenforce 0
</code>
</pre>
</div>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Lets change the default cgroup driver to systemd</h3>
<p>This is a recommendation for a stable system, but first make a 'docker' directory in /etc' (if it doesn't exist)</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-4">
<code class="language-bash">
  mkdir /etc/docker
  cd /etc/docker
</code>
</pre>
</div>
<p>Next, let's create a file that tells docker to use systemd for cgroup driver</p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_my_app}}" data-output="2-4">
<code class="language-bash">
cat &lt;&lt; EOF &gt; daemon.json
{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "storage-driver": "overlay2",
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ]
}
EOF
</code>
</pre>
</div>
<p>Next, we create a new folder for docker service, and reload the service</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-4">
<code class="language-bash">
mkdir -p /etc/systemd/system/docker.service.d

systemctl daemon-reload

</code>
</pre>
</div>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Restart docker and check the cgroup driver has been set to systemd</h3>
<p>Restart docker process</p>
<div class="fancy-terminal">
    <pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}" data-output="2-9">
<code class="language-bash">
systemctl restart docker

</code>
</pre>
</div>
<p>Check if systemd is the new driver</p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_my_app}}" data-output="2-4">
<code class="language-bash">
docker info | grep -i cgroup
</code>
</pre>
</div>
<pre>
{{data.master_prompt}} docker info | grep -i cgroup
<b>
    <font color="green">Cgroup Driver: systemd </font>
</b>
</pre>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Turn off Swap</h3>
<p>swap is inefficient way of handling memory, kubernetes does a great job and we don't need swap</p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_my_app}}" data-output="2-4">
<code class="language-bash">
swapoff -a
</code>
</pre>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Configure Kubernetes Repository</h3>
<p>Kubernetes packages are not available from official CentOS 7 repositories.
Enter the following command to retrieve the Kubernetes repositories.</p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_my_app}}" data-output="2-4">
<code class="language-bash">
cat &lt;&lt; EOF &gt; /etc/yum.repos.d/kubernetes.repo
[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
EOF
</code>
</pre>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Let's install the three basic packages required for Kubernetes</h3>
<pre>
<b>Kubeadm:</b> the command to bootstrap the cluster (the installer itself)
<b>kubelet:</b> the component that runs on all nodes and manages pods and containers
<b>kubectl:</b> the command line utility to interact with your cluster
</pre>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_my_app}}" data-output="2-4">
<code class="language-bash">
yum install -y kubelet kubeadm kubectl
</code>
</pre>
</div>
<p>enable kubelet service; kubelet is the 'agent' that watches for pod specs from kuberetes API server</p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt_my_app}}" data-output="2-4">
<code class="language-bash">
systemctl enable kubelet
</code>
</pre>
</div>
<p>Start the kubelet service!</p>

<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt_my_app}}" data-output="2-4">
<code class="language-bash">
systemctl start kubelet
</code>
</pre>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Join your worker node to the master in the cluster</h3>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt_my_app}}" data-output="2-4">
<code class="language-bash">
Run the 'kubeadm join...' command from step 7 of the previous section
</code>
</pre>
</div>
<pre>
<b>You should see an output similar to this</b>
[preflight] Running pre-flight checks
[preflight] Reading configuration from the cluster...
[preflight] FYI: You can look at this config file with 'kubectl -n kube-system get cm kubeadm-config -oyaml'
[kubelet-start] Downloading configuration for the kubelet from the "kubelet-config-1.17" ConfigMap in the kube-system namespace
[kubelet-start] Writing kubelet configuration to file "/var/lib/kubelet/config.yaml"
[kubelet-start] Writing kubelet environment file with flags to file "/var/lib/kubelet/kubeadm-flags.env"
[kubelet-start] Starting the kubelet
[kubelet-start] Waiting for the kubelet to perform the TLS Bootstrap...

This node has joined the cluster:
* Certificate signing request was sent to apiserver and a response was received.
* The Kubelet was informed of the new secure connection details.

Run 'kubectl get nodes' on the control-plane to see this node join the cluster.
</pre>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Log back into the master node and check status</h3>
<p>Since we have already setup access to the cluster on the master via kubeconfig, lets run a few commands to check status</p>
<div class="fancy-terminal">
  <pre class="command-line language-bash" data-prompt="{{ data.master_prompt_my_app}}" data-output="2-4">
<code class="language-bash">
sudo su
kubectl get nodes
kubectl get pods -o wide --all-namespaces
</code>
</pre>
</div>


{{ end_of_page(page_position,data) }}
{% endblock %}
