# A new file needs to be created like this one that is called .env in this location
# and has the value for FLASK_PORT so that it is passed into the docker-compose file 
# to get the port that is needed. The .env file is ignored by GIT and not part of the 
# REPO overall. 

FLASK_PORT=5019
LTRLAB_ID=LTRXXX-1234
COMPOSE_PROJECT_NAME=LTRACI-1234