{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Message Board App</div>
    <div class="title_section">Deployment</div>
</div>
{{ html_for_step_status|safe }}

<h1>Using Persistent Volumes in HX</h1>
<p>
The purpose of this section is to demonstrate how Kubernetes is able to use
backend storage using CSI (Container Storage Interface) plugins, and how Cisco Hyperflex is able to provide
persistent connection to pods between application version changes. CSI is an open standard that vendors can
write drivers to.
</p>
<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
        <img src="/lab/static/images/hx/hx8.png" class="img-responsive center-block ">
    </div>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine Kubernetes Storage Class</h3>
<p>SSH using putty to your jumphost at IP address -{{data.pod_master_ip}} or click here -
<a target="_blank" href="chrome-extension://pnhechapfaindjhompbnflcldabbghjo/html/nassh.html#ccpuser@{{data.pod_master_ip}}:22">
<img src="/core/static/images/symbols/ssh_pointer.png" style="height:20px;" >
</a
</p>
<p>Storage Classes allows us to describe various "classes" of storage in kubernetes. Different classes
   might map to quality-of-service levels, or to backup policies, or to arbitrary policies
   determined by the cluster administrators<br><b>hyperflex-csi was installed when you insalled the 'HyperFlex Storage Add-On' in CCP</b></p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get sc
</code>
</pre>
</div>
<pre>
  NAME                 PROVISIONER                    AGE
  hyperflex-csi        csi-hxcsi                      114m
  standard (default)   kubernetes.io/vsphere-volume   153m
</pre>
<h3>Get an error? You probably logged out!</h3>
<b>If you logged out from the SSH session,you might have to re-add the enviroment variable again.</b>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
export KUBECONFIG=~/KUBECONFIG.env
</code>
</pre>
</div>

<br>
<p>Let's also look for any Persistent Volume Claims</p>
<p>A PersistentVolumeClaim (PVC) is a request for storage by a user. It is similar to a Pod.
  Pods consume node resources and PVCs consume PV resources. Pods can request specific levels
   of resources (CPU and Memory). Claims can request specific size and access modes
   (e.g., they can be mounted once read/write or many times read-only).<br><b>Are there any PVCs in the 'default' namespace?</b></p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get pvc
</code>
</pre>
</div>
<br>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine the messageboard application files</h3>
<p>Examine the content of the folder and open the persistent volume claim YAML<br><b>Notice that we will be requesting 100Gig for our application</b></p>

<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd ~/ccpLab/messageboard
  cat 01-message-board-pvc.yaml
</code>
</pre>
</div>
<br>
<pre>
  ---
  apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: mboard-pvc
  spec:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 100Gi
    storageClassName: hyperflex-csi
</pre>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Deploy the persistent volume claim yaml</h3>
<p>When you create an object in Kubernetes, you must provide the object spec that describes its desired state,
   as well as some basic information about the object (such as a name). When you use the Kubernetes API to
   create the object (either directly or via kubectl), that API request must include that information as
   JSON in the request body. Most often, you provide the information to kubectl in a .yaml file.
   kubectl converts the information to JSON when making the API request.</p>

<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/ccpLab/messageboard
  kubectl apply -f 01-message-board-pvc.yaml
</code>
</pre>
</div>
<br>

<p>Let's also look for any Persistent Volume Claims once again</p>
<p>It might take a minute for  the Volume to bind to the claim request<br>
  <b>Notice a 100Gig Volume has now been bound to the claim request, what storage class are we using?</b></p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get pvc
</code>
</pre>
</div>
<pre>
  [ccpuser@podxx messageboard]$ kubectl get pvc
  NAME         STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS    AGE
  mboard-pvc   Bound    pvc-b7ba068f-40f6-11ea-8385-0050568f7012   100Gi      RWO            hyperflex-csi   103s
</pre>
<br>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine and Deploy the messageboard application</h3>
<p>Here you see the beauty of Kubernetes. This single file deploys the two-tier app.
  Notice, we are using a local repository to pull the image, but this would typically
  be from a public site like github.<br><b>Notice, we will expose this app on a specific port (5000/30002)</b></p>

<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/ccpLab/messageboard
  clear
  cat 02-message-board-app.yaml
  kubectl apply -f 02-message-board-app.yaml
</code>
</pre>
</div>
<br>
<pre>
<code>This is the entire application manifest</code>
  apiVersion: v1
  kind: Pod
  metadata:
      name: message-board
      labels:
          app: message-board
          name: message-board
  spec:
      containers:
      - name: message-board
        image: 10.139.11.128/mb/message_board:version1
        volumeMounts:
        - name: mb-volume
          mountPath: /sqldb
        ports:
        - containerPort: 5000
        imagePullPolicy: Always
      volumes:
        - name: mb-volume
          persistentVolumeClaim:
            claimName: mboard-pvc
  ---
  apiVersion: v1
  kind: Service
  metadata:
    name: message-board
    labels:
      name: message-board
  spec:
    type: LoadBalancer
    ports:
    - port: 5000
      nodePort: 30002
    selector:
      name: message-board
</pre>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Lets get our service IP for the messageboard application</h3>
<p>Point your browser to the External IP address and port number<br><b>Why are there two port numbers?</b></p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get svc
</code>
</pre>
</div>
<br>

<img src="/lab/static/images/hx/hx9.png" class="img-responsive">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Open Messageboard application on your browser</h3>
<p>Point your browser to the "<b>External IP address:portnumber</b>" from the previous step<br><b>Click on "sign up"</b>
<br><b>Enter the following </b>
<br>Username: {{data.apic_stdnt_uname}}<br>
E-Mail: {{data.apic_stdnt_uname}}@ciscolive <br>
Password: cisco
</br>
</p>


<img src="/lab/static/images/hx/hx10.png" class="img-responsive">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Login with the credentials above</h3>
<p><b>Click "sign in" and enter your username/password from previous step</b></p>


<img src="/lab/static/images/hx/hx11.png" class="img-responsive">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Enter your first message on the messageboard</h3>
<p>Enter one or more messages<br><b>Click Share and "sign out" after posting your messages</b></p>


<img src="/lab/static/images/hx/hx12.png" class="img-responsive">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Notice your message(s) have been posted</h3>
<p>The backend of this messageboad has a database which reads this from the persistent volume presented earlier in the lab</p>
Before we upgrade the application, take note of the <b>version number</b> under the banner and the <b>banner image</b>. (These will change after the upgrade!)<br>

<img src="/lab/static/images/hx/hx13.png" class="img-responsive">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Upgrade the messageboard application to version 2.0</h3>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/ccpLab/messageboard
  kubectl set image pod/message-board message-board=10.139.11.128/mb/message_board:version2
</code>
</pre>
</div>
<br>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Open or refresh the Messageboard application on your browser</h3>
<p>Notice that the version has changed to 2.0 with a different logo<br><b>Is your message still there?</b><br>
When you upgraded the application's base image, the container was destroyed and a new container was built up from scratch using a new image.
If the data was written to or saved on the container, you would have lost the data. Since we wrote the data to a backend
HyperFlex volume, we are able to delete/upgrade and create new containers for the application while keeping the backend
data safe and accessible across all nodes.</p>

<img src="/lab/static/images/hx/hx14.png" class="img-responsive">

{{ end_of_page(page_position,data) }}
{% endblock %}
