{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Message Board App</div>
    <div class="title_section">Deployment</div>
</div>
{{ html_for_step_status|safe }}

<h1>Using Persistent Volumes in HX</h1>
<p>
The purpose of this section is to demonstrate how Kubernetes is able to use
backend storage using CSI plugins, and how Cisco Hyperflex is able to provide
persistent connection to pods between application version changes
</p>
<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
        <img src="/lab/static/images/hx/hx8.png" class="img-responsive center-block ">
    </div>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine Kubernetes Storage Class</h3>
<p>SSH using putty to your jumphost at IP address -{{data.pod_master_ip}} or click here -
<a target="_blank" href="chrome-extension://pnhechapfaindjhompbnflcldabbghjo/html/nassh.html#ccpuser@{{data.pod_master_ip}}:22">
<img src="/core/static/images/symbols/ssh_pointer.png" style="height:20px;" >
</a
</p>
<p>Storage Classes allows us to describe various "classes" of storage in kubernetes. Different classes
   might map to quality-of-service levels, or to backup policies, or to arbitrary policies
   determined by the cluster administrators<br><b>hyperflex-csi was installed when you insalled the 'HyperFlex Storage Add-On' in CCP</b></p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get sc
</code>
</pre>
</div>
<br>
<p>Let's also look for any Persistent Volume Claims</p>
<p>A PersistentVolumeClaim (PVC) is a request for storage by a user. It is similar to a Pod.
  Pods consume node resources and PVCs consume PV resources. Pods can request specific levels
   of resources (CPU and Memory). Claims can request specific size and access modes
   (e.g., they can be mounted once read/write or many times read-only).<br><b>Are there any claims bound to volumes</b></p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get pvc
</code>
</pre>
</div>
<br>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Download the messageboard application files from github</h3>
<p>Examine the content of the folder and open the persistent volume claim YAML<br><b>Notice that we will be requesting 100Gig for our application</b></p>

<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/clemea20
  git clone https://github.com/stallione/messageboard.git
  ls -l messageboard
  cat 01-message-board-pvc.yaml
</code>
</pre>
</div>
<br>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine and Deploy the persistent volume claim yaml</h3>
<p>When you create an object in Kubernetes, you must provide the object spec that describes its desired state,
   as well as some basic information about the object (such as a name). When you use the Kubernetes API to
   create the object (either directly or via kubectl), that API request must include that information as
   JSON in the request body. Most often, you provide the information to kubectl in a .yaml file.
   kubectl converts the information to JSON when making the API request.<br><b>Notice a 100Gig Volume has now been bound to the claim request</b></p>

<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/clemea20/messageboard
  cat 01-message-board-pvc.yaml
  kubectl apply -f 01-message-board-pvc.yaml
  kubectl get pvc
</code>
</pre>
</div>
<br>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine and Deploy the messageboard application</h3>
<p>Here you see the beauty of Kubernetes. This single file deploys the two-tier app.
  Notice, we are using a local repository to pull the image, but this would typically
  be from a public site like github.<br><b>Notice, we will expose this app on a specific port (5000/30002)</b></p>

<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/clemea20/messageboard
  cat 02-message-board-app.yaml
  kubectl apply -f 02-message-board-app.yaml
</code>
</pre>
</div>
<br>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Upgrade the messageboard application</h3>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/clemea20/messageboard
  chmod +x 03-upgrade-mb-app.sh
  ./03-upgrade-mb-app.sh
</code>
</pre>
</div>
<br>


{{ end_of_page(page_position,data) }}
{% endblock %}
