{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Message Board App</div>
    <div class="title_section">Deployment</div>
</div>
{{ html_for_step_status|safe }}

<h1>Using Persistent Volumes in HX</h1>
<p>
The purpose of this section is to demonstrate how Kubernetes is able to use
backend storage using CSI plugins, and how Cisco Hyperflex is able to provide
persistent connection to pods between application version changes
</p>
<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
        <img src="/lab/static/images/labtopo.png" class="img-responsive center-block ">
    </div>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine Kubernetes Storage Class</h3>
<p>SSH using putty to your jumphost at IP address -{{data.pod_master_ip}} or click here -
<a target="_blank" href="chrome-extension://pnhechapfaindjhompbnflcldabbghjo/html/nassh.html#ccpuser@{{data.pod_master_ip}}:22">
<img src="/core/static/images/symbols/ssh_pointer.png" style="height:20px;" >
</a
</p>
<p>To save time, we will be using a script to quickly install the App Profile</p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get sc
</code>
</pre>
</div>
<br>
<p>Let's also look for any Persistent Volume Claims</p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get pvc
</code>
</pre>
</div>
<br>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Download the MB application files from github</h3>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/clemea20
  git clone https://github.com/stallione/messageboard.git
</code>
</pre>
</div>
<br>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine and Deploy the persistent volume claim yaml</h3>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/clemea20/messageboard
  cat 01-message-board-pvc.yaml
  kubectl apply -f 01-message-board-pvc.yaml
  kubectl get pvc
</code>
</pre>
</div>
<br>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine and Deploy the messageboard application</h3>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/clemea20/messageboard
  cat 02-message-board-app.yaml
  kubectl apply -f 02-message-board-app.yaml
</code>
</pre>
</div>
<br>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine Upgrade the messageboard application</h3>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  cd $HOME/clemea20/messageboard
  chmod +x 03-upgrade-mb-app.sh
  ./03-upgrade-mb-app.sh
</code>
</pre>
</div>
<br>


{{ end_of_page(page_position,data) }}
{% endblock %}
