{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">HX Persistant Storage</div>
    <div class="title_section">Deployment</div>
</div>
{{ html_for_step_status|safe }}

<h1>HyperFlex CSI Plugin Components</h1>

Understanding how Kubernetes uses Storage Volumes allows us to appreciate the
link between HyperFlex and CSI plugin.
<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
        <img src="/lab/static/images/hx/hx3.png" class="img-responsive center-block ">
    </div>
</div>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Connect to HyperFlex admin console</h3>
<p>Cisco HyperFlex Connect provides robust, secure, and simple management in an intuitive user interface.
  It lets you manage and monitor your clusters anywhere, anytime, and delivers metrics to support your
   entire HyperFlex management lifecycle. Although, you are able to manage HyperFlex from vCenter with ease,
 you get a few additional benefits with HyperFlex Connect such as the dashboard, and ability to upgrade the cluster. </p>
<p>
    You will need to point the browser on your lab laptop to the HX Connect admin website in this lab. Using the same
     browser that you are using to read this guide, go to the URL:
     <a href="http://10.139.11.10" target="_blank">HX Connect</a>
     </p>
<p>Ignore the invalid SSL certificate</p>

<p>The credentials for HX Connect are:</p>
<ul>
    <li>
        User ID: {{data.pname}}
    </li>
    <li>
        Password: C1sco123
    </li>

</ul>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/18" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - HyperFlex Connect - HX user interface</h3>
<p>
    Navigate through the various sections here. (Pod Specific read-only access)
</p>
<img src="/lab/static/images/hx/hx5.png" class="img-responsive img-shadow">



<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Explore the Virtual Machines</h3>
<p>
    On the Navigation section
    </p>
    <p>Click 'Virtual Machines'
</p>
<img src="/lab/static/images/hx/hx6.png" class="img-responsive img-shadow">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Explore the Kubernetes Configuration</h3>
<p>
    On the Navigation section;
    Click 'Kubernetes' <br>
      You should notice that this is 'Enabled' as a global setting.<br>
      You need both this enabled and the add-on in CCP installed for Persistant Volumes to work with CCP.
</p>
<img src="/lab/static/images/hx/hx7.png" class="img-responsive img-shadow">
<p>




{{ end_of_page(page_position,data) }}
{% endblock %}
