{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Exploring ACI</div>
    <div class="title_section">Tenants</div>
</div>
{{ html_for_step_status|safe }}

<h1>Creating ACI Tenant manually</h1>
<p>
    Cisco Cloud Platform  <code>(CCP)</code> using the CNI plugin is able to automatically build
    a tenant and configure the Kubernetes application profile. In this section, we'll manually build a
    tenant and expore the Kubernetes integration components. We'll in a later step remove
    this configuration and monitor how CCP automates this process.
</p>

<div class="alert alert--warning">
    <div class="alert__icon icon-exclamation-triangle"></div>
    <div class="alert__message">
        For this lab we ask you to be cautious when working with Tenants to ensure
        you don't affect other student labs.
    </div>
</div>

<h1>Lab Toplogy</h1>
<p>
    For this lab you will have one physical server connected to a real ACI fabric. Each physical
    server will be connected as link aggregated BOND interface for redundancy.
</p>
<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
        <img src="/lab/static/images/labtopo.png" class="img-responsive center-block ">
    </div>
</div>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Connect to ACI fabric</h3>
<p>
    You will need to point the browser on your lab laptop  to the APIC in this lab. Using the same
    Chrome browser that you are using to read this guide, go to the URL: <a target="_blank" href="http://{{data.apic4pod}}">Your POD APIC at
        {{data.apic4pod}}</a>.
</p>
<p>The credentials for this APIC are:</p>
<ul>
    <li>
        User ID: {{data.apic_stdnt_uname}}
    </li>
    <li>
        Password: {{data.apic_stdnt_pass}}
    </li>
    <li>Domain: acs</li>
</ul>
<br>
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Feature update splash screen</h3>
<p>
    Select 'Get Started' if the splash screen appears
</p>
<img src="/lab/static/images/aci1/apicSplash.jpg" class="img-responsive img-shadow">



<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Create a new '{{data.apic_stdnt_uname}}' tenant</h3>
<p>
    Click on 'Tenants', and ten 'Add Tenant'
</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/4" class="img-responsive img-shadow ">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Enter Tenant details as shown below</h3>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/5" class="img-responsive img-shadow">

<p>
    The Tenant must be named:
    {{copythis(data.vmware_cred_username)}}


{{ end_of_page(page_position,data) }}
{% endblock %}
