{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance %}
{% block content %}
<div class="section_header">
    <div class="title">Applicaton Centric Infrastructure</div>
    <div class="title_section">Why SDN?</div>
</div>
<h1>
    A better approach to networking
</h1>
<p>
  Cisco® Application Centric Infrastructure (Cisco ACI™) is an industry-leading secure,
  open, and comprehensive Software-Defined Networking (SDN) solution.
  It radically simplifies, optimizes, and accelerates infrastructure deployment
  and governance and expedites the application deployment lifecycle.
</p>
<p>
Cisco ACI delivers an intent-based networking framework to enable agility
in the data center. It captures higher-level business and user intent in
the form of a policy and translates this intent into the network constructs
necessary to dynamically provision the network, security, and infrastructure
services. It uses a holistic systems-based approach, with tight integration
between hardware and software and physical and virtual elements, an open
ecosystem model, and innovative Cisco customer Application-Specific Integrated
Circuits (ASICs) to enable unique business value for modern data centers.
This unique approach uses a common policy-based operating model across the network,
drastically reducing the cost and complexity of operating your network.
</p>
<div class="row">
    <div class="col-md-6 col-sm-10">
      <h1>
          How Cisco ACI Works
      </h1>
        <p>
            Cisco ACI is a tightly coupled policy-driven solution that
             integrates software and hardware. The hardware for Cisco
              ACI is based on the Cisco Nexus 9000 family of switches.
               The software and integration points for ACI include a
                few components, including Additional Data Center Pod,
                 Data Center Policy Engine, and Non-Directly Attached
                  Virtual and Physical Leaf Switches
        </p>
        <p>
            To a large extent, the network for Cisco ACI is no different than what
             has been deployed over the past several years in enterprise data
             centers. What is different, however, is the management and policy
             framework, along with the protocols used in the underlying fabric.
        </p>

    </div>
    <div class="col-md-6 col-sm-14">
        <img src="/lab/static/images/aci1/aci1.png" class="img-responsive ">
    </div>
</div>
<p>In a leaf-spine ACI fabric, Cisco is provisioning a native Layer 3
  IP fabric that supports equal-cost multi-path (ECMP) routing between
  any two endpoints in the network, but uses overlay protocols, such
  as virtual extensible local area network (VXLAN) under the covers
  to allow any workload to exist anywhere in the network. Supporting
  overlay protocols is what will give the fabric the ability to have
  machines, either physical or virtual, in the same logical network
  (Layer 2 domain), even while running Layer 3 routing down to the
  top of each rack. Cisco ACI supports VLAN, VXLAN, and network
  virtualization using generic routing encapsulation (NV-GRE), which
  can be combined and bridged together to create a logical
  network/domain as needed.</p>
<p>From a management perspective, the central SDN Controller of the
  ACI solution, the Application Policy Infrastructure Controller (APIC)
   manages and configures the policy on each of the switches in the ACI
    fabric. Hardware becomes stateless with Cisco ACI, much like it is
     with Cisco’s UCS Computing Platform. This means no configuration
     is tied to the device. The APIC acts as a central repository for
     all policies and has the ability to rapidly deploy and re-deploy
     hardware, as needed, by using this stateless computing model.</p>

<p>Cisco ACI also serves as a platform for other services that are required
 within the data center or cloud environment. Through the use of the APIC,
  third-party services can be integrated for advanced security, load
  balancing, and monitoring. Vendors and products, such as SourceFire,
  Embrane, F5, Cisco ASA, and Citrix can integrate natively into the
  ACI fabric and be part of the policy defined by the admin. Through
  the use of northbound APIs on the APIC, ACI can also integrate with
  different types of cloud environments.</p>

{{ end_of_page(page_position,data) }}
{% endblock %}
