{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance %}
{% block content %}
<div class="section_header">
    <div class="title">Cisco Container Platform</div>
    <div class="title_section">Architectural Overview</div>
</div>
<h1>
    Control Plane Cluster and Tenant Clusters
</h1>
<p>
    Cisco Container Platform is a turnkey, production grade, extensible platform to deploy and manage multiple Kubernetes clusters.
    It runs on 100% upstream Kubernetes. Cisco Container Platform offers seamless container networking, enterprise-grade
    persistent storage, built-in production-grade security, integrated logging, monitoring and load balancing
</p>
<div class="row">
    <div class="col-md-6 col-sm-12">
      <hr>
      <p>Cisco Container Platform can run on top of an ACI networking fabric as well as on a non-ACI networking fabric that performs standard L3 switching.</p>
          <hr>
          <p>
          At the bottom of the stack, there is an ACI fabric that consists of Nexus switches,
          Application Policy Infrastructure Controllers (APICs) and Fabric Interconnects (FIs).
          The next layer up is the UCS servers running the HyperFlex software.
          HyperFlex provides virtualized compute resources through VMware,
          and distributed storage resources through the HyperFlex converged data platform.
           </p>
           <p>
          The next layer up is the Cisco Container Platform Control Plane and Data Plane.
          In the preceeding figure, Cisco Container Platform Control Plane runs on the four VMs on the left.
          </p>
          <p>
          Kubernetes tenant clusters are preconfigured to support Persistent Volumes using vSphere
          Cloud Provider and Container Storage Interface (CSI) plugin. Both implementations
          use the underlying replicated, highly available HyperFlex data platform for storage.
        </p>
    </div>
    <div class="col-md-6 col-sm-12">
        <img src="/lab/static/images/ccp/ccp.png" class="img-responsive ">
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
  <TABLE BORDER="2"    WIDTH="100%"   CELLPADDING="4" CELLSPACING="4">
     <TR ALIGN="CENTER">
        <TH COLSPAN="2"><h5>Components of Cisco Container Platform</h5>
        </TH>
     </TR>
     <TR ALIGN="CENTER">
        <TH>Function</TH>
        <TH>Component</TH>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Container Runtime</TD>
        <TD>Docker CE</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Operating System</TD>
        <TD>Ubuntu</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Orchestration</TD>
        <TD>Kubernetes</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Iaas</TD>
        <TD>vSphere</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Infrastructure</TD>
        <TD>HyperFlex</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Container Network Interface (CNI)</TD>
        <TD>ACI, Contiv, Calico</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>SDN</TD>
        <TD>ACI</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Container Storage</TD>
        <TD>HyperFlex CSI plugin</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Load Blancing</TD>
        <TD>NGINX, Envoy</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Service Mesh</TD>
        <TD>Istio, Envoy</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Monitoring</TD>
        <TD>Prometheus, Grafana</TD>
     </TR>
     <TR ALIGN="LEFT">
        <TD>Logging</TD>
        <TD>Elasticsearch, Fluentd & Kibana (EFK)</TD>
     </TR>
  </TABLE>
</div>
<div class="col-md-6 col-sm-12">

  <p><h4>Installing Cisco Container Platform is a three-step process:</h4>
</p>
  <p>Importing CCP Tenant base VM</p>
<p>
  The Cisco Container Platform tenant base VM contains the container image and the
  files that are necessary to create the tenant Kubernetes clusters
  that are used for configuring monitoring, logging, container network interfaces (CNI),
   and persistent volumes.
</p>
  <p>Deploying Installer VM</p>
<p>
  The Installer VM contains the VM image and the files for installing other components
  such as Kubernetes and the Cisco Container Platform application.
</p>
  <p>Deploying Cisco Container Platform</p>
<p>
  The Cisco Container Platform Control Plane is set up using an installer UI.
  After the installer VM is switched on, the URL of the installer
  appears on the vCenter <strong>Web console</strong>.

</p>
</div>
</div>

{{ end_of_page(page_position,data) }}
{% endblock %}
