{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance %}
{% block content %}
<div class="section_header">
    <div class="title">Cisco HyperFlex</div>
    <div class="title_section">Why SDS?</div>
</div>
<h1>
    Cisco HX - Software Defined Storage based on UCS
</h1>
<p>
  To help you meet the challenge of deploying any application, in any cloud,
anywhere, Cisco introduced Cisco HyperFlex systems, an adaptive system to
power any application anywhere with the simplicity of hyperconvergence.
Cisco HyperFlex systems deliver flexibility to support multiple hypervisors,
containerized environments, multicloud services, and edge deployment
to efficiently and economically deploy, monitor, and manage today’s
applications.
</p>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <p>
          Cisco HyperFlex systems are powered by Intel Xeon Scalable
processors as a next-generation platform that could adapt to meet new
information technology challenges as they evolve. Indeed, the first challenge
met by the platform was to reduce cost in the data center core as business
organizations rise to meet the challenge of digital transformation (Figure on the right).
Recognizing the rise of containerized applications and microservices, we
simplified support for cloud-native applications with the Cisco HyperFlex
multicloud platform. The next frontier, the push to place computing wherever
data and users reside, has prompted the engineering of Cisco HyperFlex
Anywhere to meet the unique challenges of deploying hyperconverged
environments for multisite, distributed computing at global scale.
        </p>
        <p>
          A key difference between Cisco HyperFlex systems and competitive products
is that since we produce integrated hardware and software nodes, we are
free to innovate across the entire stack. This allows us to deliver capabilities
that others cannot, including <ul>
<li>Full bare-metal deployment and software installation managed
from the cloud,</li> <li>A unique hardware data compression
accelerator,</li> <li>GPU acceleration in virtual desktop environments
or AI and ML inferencing applications.</li> </ul> </p><p>  In data center environments, the
platform includes an integrated network fabric and powerful data optimization
capabilities that unlock the full potential of hyperconvergence for a wider
range of workloads and use cases.
        </p>
        <p>
          The Cisco HyperFlex platform is faster to deploy, simpler to manage, easier
        to scale, and ready to provide a unified pool of resources to power your
        business applications. You harness these resources with your choice of
        centralized management tools: Cisco Intersight™ software as a service,
        Cisco HyperFlex Connect, Microsoft System Center Virtual Machine Manager, Hyper-V Manager,
        or a VMware vSphere plug-in. Cisco HyperFlex systems
        integrate into the data center you have today without creating an island of
        IT resources. You can deploy Cisco HyperFlex systems wherever you need
        them, from central data center environments to remote locations and edgecomputing environments.
        </p>
    </div>
    <div class="col-md-6 col-sm-12">
        <img src="/lab/static/images/hx/hx1.png" class="img-responsive ">
    </div>
</div>


<img src="/lab/static/images/hx/hx2.png" class="img-responsive img-shadow">



{{ end_of_page(page_position,data) }}
{% endblock %}
