{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">ACI for Kubernetes</div>
    <div class="title_section">Policy</div>
</div>


<h3>Under Construction - Section reserved for  Kuberntes Annotations </h3>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Please proceed to the next Section</h3>



{{ end_of_page(page_position,data) }}
{% endblock %}
