{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">ACI for Kubernetes</div>
    <div class="title_section">Policy</div>
</div>


<h1>CCP Lab Toplogy</h1>
<p>This section of the lab is designed to help you understand how ACI allows security policies to permeate between the Kubernetes world and the physical/logical Baremetal/VM world. Here you will change security policies (contracts) in ACI and examine the impact on the application.</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/991" class="img-responsive">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Let's break the application connection to the backend Database</h3>
<p>Keep in mind that this database is running in a 'VM' outside of Kubernetes. We chose to use a VM to run
  the SQL database, but this could very well be a bare-metal installation.<br>
ACI is able to enforce security between all tiers of the application including Bare Metal and VMs</p>
<p></p>
<p>Log back into ACI, go to {{data.vmware_cred_username}}, select livewall App Profile and Click on Topology </p>
<p>Click on 'mysql(database)' EPG once <br>
  Notice the {{data.vmware_cred_username}}-mysql(common) contract between Kubernetes and Baremetal workload in the green bubble?</p>
<img src="/lab/static/images/ccp/hipster8.png" class="img-responsive img-shadow">
<img src="/lab/static/images/ccp/hipster8-1.png" class="img-responsive img-shadow">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Delete the {{data.vmware_cred_username}}-mysql consumed contract from the 'api' EPG</h3>
<p>Contracts provide a way for the Cisco Application Centric Infrastructure (ACI) administrator to control
  traffic flow within the ACI fabric between endpoint groups. These contracts are built using a
  provider-consumer model where one endpoint group provides the services it wants to offer and
  another endpoint group consumes them.<br>
<p>Under Tenant {{data.vmware_cred_username}}, expand 'Application Profiles' then 'livewall' then 'api' <br>
Select the {{data.vmware_cred_username}}-mysql contract and delete from the menu on top right
<br>Click Delete on the pop-up window</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/15" class="img-responsive">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Examine if the App broke by visiting the LiveWall Webpage from Step 7</h3>
<p>
Within a few seconds, you will notice that the application is now broken</p>

<img src="/lab/static/images/ccp/hipster9.png" class="img-responsive img-shadow">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Let's go back to ACI and re-add the contract</h3>
<p>Under Tenant {{data.vmware_cred_username}}, expand 'Application Profiles' then 'livewall' then 'api' <br>
Select 'Add Consumed Contract from the menu on top right</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/16" class="img-responsive">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Select '{{data.vmware_cred_username}}-mysql' from the drop down menu</h3>
<p>Click Submit</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/17" class="img-responsive">
<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Check if the Livewall App is functional again</h3>

{{ end_of_page(page_position,data) }}
{% endblock %}
