{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance, copythis %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Challenge</div>
    <div class="title_section">Lab</div>
</div>
{{ html_for_step_status|safe }}

<h3>You have been tasked to deploy a Wordpress application with persistent backend storage</h3>

<img src="/lab/imgman/pod/{{ data.pod_id }}/id/991" class="img-responsive">

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - First, make your k8s access permanent from Jumphost</h3>
<p>Logout of your jumphost and then log back in; your jumphost is at {{data.pod_master_ip}}</p>
Run any "kubectl" command to see if you can access your cluster. You should not be able to access your cluster
because the "KUBECONFIG" enviroment variable only lasted the current session. Once you logged off, its gone.<br>
<b>Task 1: Setup the jumphost so that this won't happen the next time you login</b>

<p><code>Hint 1: You have already done something similar to this in the lab today!</code>
<br><code>Hint 2: See step 8 in the 'Installing Kubernetes' section under 'Baseline Topics'</code></p>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Test kubernetes connection from Jumphost</h3>
<b>Logout and log back in after step 1 above, and test your connection again!</b>

<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
kubectl get nodes -o wide
kubectl get namespace
kubectl get pods --all-namespaces
</code>
</pre>
</div>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Create a MySQL password</h3>
<p><b>Task 2: Since wordpress uses MySQL for backend database, let's setup a password for mysql to use.</b></p>
In kubernetes, there is this idea of a 'Secret'. A Secret is an object that stores a piece of sensitive data like a password or key.
For simplicity, let's create a password file and use it in our manifest. (But first create a new folder and change directory into it)
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
  mkdir $HOME/clemea20/wp
  cd $HOME/clemea20/wp
</code>
</pre>
</div>
<p>Create the test file with our secret password 'C1sco123'; execute the command to create a secret in kubernetes</p>
<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
echo -n 'C1sco123' > ./pass.txt
kubectl create secret generic mysql-pass --from-file=pass.txt
</code>
</pre>
</div>

<b>Check to see the results using <code>kubectl get secrets</code> command</b>
<pre>[ccpuser@{{data.apic_stdnt_uname}} wp]$ kubectl get secrets
NAME                    TYPE                                  DATA   AGE
default-token-sbpr5     kubernetes.io/service-account-token   3      8h
mysql-pass              Opaque                                1      54m
</pre>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Install nano if you are not a 'Vi' editor fan!</h3>
<b>We'll be manipulating a few yaml manifests, let's make life easy by using nano. Hit 'y' when prompted, after entering the password.</b>

<div class="fancy-terminal">
<pre class="command-line language-bash" data-prompt="{{ data.master_prompt}}">
<code class="language-bash">
sudo yum install nano
</code>
</pre>
</div>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Create and deploy two storage pvc mainfests</h3>
<p>Using nano, create two yaml files (use your imagination to name them) using the information below. These will create two PVCs. Using nano is easy, just type 'nano yourfilename.yaml'</p>
<p><b>Task 3: There is a key missing piece of information with regards to 'storage class' here. Add it to the bottom of both yaml files. Deploy using <code>kubectl apply -f "filename.yaml"</code> command</b></p>
<p><code>Hint 1. You have already deployed an application using persistent storage with HX! What you need is in there.</code></p>
Raw file for these manifests are available at: <br>
<a target="_blank" href="https://raw.githubusercontent.com/stallione/wordpress/master/mysql-db.yaml"> https://raw.githubusercontent.com/stallione/wordpress/master/mysql-db.yaml</a><br>
and
<br>
<a target="_blank" href="https://raw.githubusercontent.com/stallione/wordpress/master/wordpress-db.yaml"> https://raw.githubusercontent.com/stallione/wordpress/master/wordpress-db.yaml</a><br>
<br>
<pre>
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
  labels:
    app: wordpress
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
</pre>
<b>and another one</b> <pre>
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wp-pv-claim
  labels:
    app: wordpress
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
</pre>
<b>Once you have made the changes, go ahead and deploy the two yaml files using <code>kubectl</code>.</b><br>
<br>To test, run '<code>kubectl get pvc</code>' and see if these are ready. Pay attention to the <b>STORAGECLASS</b> section!
<pre>
[ccpuser@{{data.apic_stdnt_uname}} wp]$ kubectl get pvc
NAME             STATUS   VOLUME                                     CAPACITY   ACCESS MODES   <b>STORAGECLASS</b>    AGE
mboard-pvc       Bound    pvc-b7ba068f-40f6-11ea-8385-0050568f7012   100Gi      RWO            <b>hyperflex-csi</b>   29h
mysql-pv-claim   Bound    pvc-c3ea87dd-41eb-11ea-8385-0050568f7012   20Gi       RWO            <b>hyperflex-csi</b>   2m36s
wp-pv-claim      Bound    pvc-1b1e628e-41ec-11ea-8385-0050568f7012   20Gi       RWO            <b>hyperflex-csi</b>   9s
</pre>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Create and deploy the database application</h3>
<p><b>Task 4: Use the following mainfest to deploy the database</b></p>
Raw file is available at: <br>
<a target="_blank" href="https://raw.githubusercontent.com/stallione/wordpress/master/mysql.yaml"> https://raw.githubusercontent.com/stallione/wordpress/master/mysql.yaml</a>
<br><br>
<pre>
apiVersion: v1
kind: Service
metadata:
  name: wordpress-mysql
  labels:
    app: wordpress
spec:
  ports:
    - port: 3306
  selector:
    app: wordpress
    tier: mysql
  clusterIP: None
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress-mysql
  labels:
    app: wordpress
spec:
  selector:
    matchLabels:
      app: wordpress
      tier: mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: wordpress
        tier: mysql
    spec:
      containers:
      - image: mysql:5.6
        name: mysql
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: pass.txt
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pv-claim

</pre>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Create and deploy the wordpress frontend application</h3>
<p><b>Task 5: Use the following mainfest to deploy the frontend</b></p>
Raw file is available at:<br>
<a target="_blank" href="https://raw.githubusercontent.com/stallione/wordpress/master/wordpress.yaml"> https://raw.githubusercontent.com/stallione/wordpress/master/wordpress.yaml</a>
<br><br>
<pre>
apiVersion: v1
kind: Service
metadata:
  name: wordpress
  labels:
    app: wordpress
spec:
  ports:
    - port: 80
  selector:
    app: wordpress
    tier: frontend
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  labels:
    app: wordpress
spec:
  selector:
    matchLabels:
      app: wordpress
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: wordpress
        tier: frontend
    spec:
      containers:
      - image: wordpress:4.8-apache
        name: wordpress
        env:
        - name: WORDPRESS_DB_HOST
          value: wordpress-mysql
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-pass
              key: pass.txt
        ports:
        - containerPort: 80
          name: wordpress
        volumeMounts:
        - name: wordpress-persistent-storage
          mountPath: /var/www/html
      volumes:
      - name: wordpress-persistent-storage
        persistentVolumeClaim:
          claimName: wp-pv-claim

</pre>

<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Check to see if your application is working</h3>
<p><b>Task 6: Run the commands necessary to find the IP address of your application.</b>,  you expect to see the following on your browser</p>
<img src="/lab/static/images/wordpress.png" class="img-responsive img-shadow">
{{ end_of_page(page_position,data) }}
{% endblock %}
