{% extends "core_base.html" %}
{% from "macros.html" import file, warn, info, error, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance %}
{% block content %}
<div class="section_header">
    <div class="title">Introduction</div>
    <div class="title_section">My lab subtitle</div>
</div>
<h1>
    Lorem Ipsum....
</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam nulla
    facilisi cras fermentum odio. Nisl suscipit adipiscing bibendum est ultricies integer quis. Gravida rutrum quisque non tellus orci ac auctor. Tempor commodo
    ullamcorper a lacus vestibulum sed arcu non. Quis commodo odio aenean sed adipiscing diam donec adipiscing. Tempus imperdiet nulla malesuada pellentesque
    elit eget gravida cum sociis. Pharetra magna ac placerat vestibulum lectus. Enim sit amet venenatis urna. Justo nec ultrices dui sapien. At urna condimentum
    mattis pellentesque id nibh tortor id aliquet. Eu volutpat odio facilisis mauris sit amet massa vitae. Scelerisque in dictum non consectetur a erat nam at.
    Sed libero enim sed faucibus turpis in eu mi bibendum. Ornare arcu dui vivamus arcu.
</p>
<div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam
            nulla
            facilisi cras fermentum odio. Nisl suscipit adipiscing bibendum est ultricies integer quis. Gravida rutrum quisque non tellus orci ac auctor. Tempor
            commodo
            ullamcorper a lacus vestibulum sed arcu non. Quis commodo odio aenean sed adipiscing diam donec adipiscing. Tempus imperdiet nulla malesuada
            pellentesque
            elit eget gravida cum sociis. Pharetra magna ac placerat vestibulum lectus. Enim sit amet venenatis urna. Justo nec ultrices dui sapien. At urna
            condimentum
            mattis pellentesque id nibh tortor id aliquet. Eu volutpat odio facilisis mauris sit amet massa vitae. Scelerisque in dictum non consectetur a erat
            nam at.
            Sed libero enim sed faucibus turpis in eu mi bibendum. Ornare arcu dui vivamus arcu.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam
            nulla
            facilisi cras fermentum odio. Nisl suscipit adipiscing bibendum est ultricies integer quis. Gravida rutrum quisque non tellus orci ac auctor. Tempor
            commodo
            ullamcorper a lacus vestibulum sed arcu non. Quis commodo odio aenean sed adipiscing diam donec adipiscing. Tempus imperdiet nulla malesuada
            pellentesque
            elit eget gravida cum sociis. Pharetra magna ac placerat vestibulum lectus. Enim sit amet venenatis urna. Justo nec ultrices dui sapien. At urna
            condimentum
            mattis pellentesque id nibh tortor id aliquet. Eu volutpat odio facilisis mauris sit amet massa vitae. Scelerisque in dictum non consectetur a erat
            nam at.
            Sed libero enim sed faucibus turpis in eu mi bibendum. Ornare arcu dui vivamus arcu..
        </p>
    </div>
    <div class="col-md-6 col-sm-4 col-xs-12">
        <img src="/lab/static/images/intro/interactive-line-graph.png" class="img-fluid ">
    </div>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam
    nulla
    facilisi cras fermentum odio. Nisl suscipit adipiscing bibendum est ultricies integer quis. Gravida rutrum quisque non tellus orci ac auctor. Tempor
    commodo
    ullamcorper a lacus vestibulum sed arcu non. Quis commodo odio aenean sed adipiscing diam donec adipiscing. Tempus imperdiet nulla malesuada
    pellentesque
    elit eget gravida cum sociis. Pharetra magna ac placerat vestibulum lectus. Enim sit amet venenatis urna. Justo nec ultrices dui sapien. At urna
    condimentum
    mattis pellentesque id nibh tortor id aliquet. Eu volutpat odio facilisis mauris sit amet massa vitae. Scelerisque in dictum non consectetur a erat
    nam at.
    Sed libero enim sed faucibus turpis in eu mi bibendum. Ornare arcu dui vivamus arcu..
</p>

<h1>
    Lorem Ipsum...
</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam
    nulla
    facilisi cras fermentum odio. Nisl suscipit adipiscing bibendum est ultricies integer quis. Gravida rutrum quisque non tellus orci ac auctor. Tempor
    commodo
    ullamcorper a lacus vestibulum sed arcu non. Quis commodo odio aenean sed adipiscing diam donec adipiscing. Tempus imperdiet nulla malesuada
    pellentesque
    elit eget gravida cum sociis. Pharetra magna ac placerat vestibulum lectus. Enim sit amet venenatis urna. Justo nec ultrices dui sapien. At urna
    condimentum
    mattis pellentesque id nibh tortor id aliquet. Eu volutpat odio facilisis mauris sit amet massa vitae. Scelerisque in dictum non consectetur a erat
    nam at.
    Sed libero enim sed faucibus turpis in eu mi bibendum. Ornare arcu dui vivamus arcu..
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam
    nulla
    facilisi cras fermentum odio. Nisl suscipit adipiscing bibendum est ultricies integer quis. Gravida rutrum quisque non tellus orci ac auctor. Tempor
    commodo
    ullamcorper a lacus vestibulum sed arcu non. Quis commodo odio aenean sed adipiscing diam donec adipiscing. Tempus imperdiet nulla malesuada
    pellentesque
    elit eget gravida cum sociis. Pharetra magna ac placerat vestibulum lectus. Enim sit amet venenatis urna. Justo nec ultrices dui sapien. At urna
    condimentum
    mattis pellentesque id nibh tortor id aliquet. Eu volutpat odio facilisis mauris sit amet massa vitae. Scelerisque in dictum non consectetur a erat
    nam at.
    Sed libero enim sed faucibus turpis in eu mi bibendum. Ornare arcu dui vivamus arcu..
</p>
</p>
<h1>Alert boxes</h1>
{{ info('This is a info box') }}
{{ warn('This is a warning box') }}
{{ error('This is a error box') }}

<h1>
    About this Lab!
</h1>
<img src="/core/static/images/landscapes/hero-bg-2.jpg" class="img-fluid">
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam
    nulla
    facilisi cras fermentum odio. Nisl suscipit adipiscing bibendum est ultricies integer quis. Gravida rutrum quisque non tellus orci ac auctor. Tempor
    commodo
    ullamcorper a lacus vestibulum sed arcu non. Quis commodo odio aenean sed adipiscing diam donec adipiscing. Tempus imperdiet nulla malesuada
    pellentesque
    elit eget gravida cum sociis. Pharetra magna ac placerat vestibulum lectus. Enim sit amet venenatis urna. Justo nec ultrices dui sapien. At urna
    condimentum
    mattis pellentesque id nibh tortor id aliquet. Eu volutpat odio facilisis mauris sit amet massa vitae. Scelerisque in dictum non consectetur a erat
    nam at.
    Sed libero enim sed faucibus turpis in eu mi bibendum. Ornare arcu dui vivamus arcu...
</p>
<h2>Lab chapters indicator</h2>
<p>
    This indicator can be placed in various places of the document to give customer
    a view of where they are placed in the lab. It is built automatic from the menu
    yaml file and highlights where you are (at the chapter level)
</p>
{{ html_for_step_status|safe }}
<p>
    We take the student through the following flow of learning:
</p>
<ol>
    <li>....</li>
    <li>....</li>
    <li>....</li>
    <li>....</li>
    <li>....</li>
</ol>





{{ end_of_page(page_position,data) }}
{% endblock %}