{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, copythis, term_end, topxterm, term_start, end_of_page,top_instance %}
{% block content %}
{% set step =  0 %}
{% set innerstep =  0 %}


<div class="section_header">
    <div class="title">Lab Access</div>
    <div class="title_section">vpn setup</div>
</div>
{{ html_for_step_status|safe }}
<h1>
    Getting connected to the Lab
</h1>


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Launch Cisco VPN mobility client</h3>
<p>
    The Lab pods are only accessible via vpn due its location with the DMZ 
    <br>Type or copy/paste from below "vpn.reqdemo.com/ciscolive" and click connect
</p>
<p>{{copythis('vpn.reqdemo.com/ciscolive')}}</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/1" class="img-responsive img-shadow"><br />


<!--
##############################################################################################################################
Step {% set step = step +  1 %}
##############################################################################################################################
-->
<h3>Step {{ step }} - Enter VPN username and password</h3>

<p>
    <br>Type in your username as shown
    <br>Type in your password as shown
</p>
<img src="/lab/imgman/pod/{{ data.pod_id }}/id/3" class="img-responsive img-shadow"><br />
<p>Click 'OK'</p>



{{ end_of_page(page_position,data) }}
{% endblock %}
