{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance %}
{% block content %}
<div class="section_header">
    <div class="title">Lab Objectives</div>
    <div class="title_section">Learn and do</div>
</div>
<h1>
    About this Lab
</h1>
<img src="/core/static/images/landscapes/hero-bg-6.jpg" class="img-responsive">
<p>
    When we embarked on developing this lab we realized that understanding Cisco Container Platform and Kubernetes
    without having some basis of containers didn't make sense. So we developed in the lab a
    structure that goes through showing some of the container basics. We chose to run the lab on Application Centric Infrastructure (ACI)
     and HyperFlex (HX) as they were designed for multicloud.  CCP can run on any network or compute infrastructure.
</p>

<p>
    The lab from a high level has the following steps:
</p>
{{ html_for_step_status|safe }}
<p>
    We take the student through the following flow of learning:
</p>
<ul>
  <li>Intro Lab Section: Docker, Docker Networking and Kubernetes (K8s)</li>
  <ul>
      <li>This section will walk you through a deep-dive on docker
      </li>
      <li>You will build, manage and deploy a Webserver container</li>
        <li> You will also get a deeper understanding of container networking</li>
        <li>Finally, you will install a kubernetes cluster from scratch!</li>


  </ul>
  <li>Deploying Cisco Container Platform on Cisco Hyperflex</li>
    <ul>
        <li>Overview of the platform, components, features etc.
        </li>
        <li>Deploying a tenant cluster integrated with Cisco ACI (Applicaton Centric Infrastructure)
        </li>
    </ul>
    <li>Deploying an Application on CCP (Cisco Container Platform)</li>
    <ul>
        <li>Deploy a microservices based Application</li>
        <li>ACI contracts between Kubernetes and Bare Metal/VM</li>
    </ul>
    <li>Deploying and managing HX Persistent Storage</li>
    <ul>
        <li>Deploy a storage integrated Application
        </li>
        <li>Manage/upgrade the Application
        </li>
    </ul>


</ul>
<ul>
  <li>Challenge Labs!!!</li>
</ul>





{{ end_of_page(page_position,data) }}
{% endblock %}
