{% extends "base_cisco.html" %}
{% from "macros.html" import file, warn, info, cmd_blk_end, cmd_blk_start, term_end, topxterm, term_start, end_of_page,top_instance %}
{% block content %}
<div class="section_header">
    <div class="title">Lab Objectives</div>
    <div class="title_section">Learn and do</div>
</div>
<h1>
    About this Lab!
</h1>
<img src="/core/static/images/landscapes/hero-bg-2.jpg" class="img-responsive">
<p>
    When we embarked on developing this lab we realized that understanding Cisco Container Platform and Kubernetes
    without having some basis of containers didn't make sense. So we developed in the lab a
    structure that goes through showing some of the container basics.
</p>

<p>
    The lab from a high level has the following steps:
</p>
{{ html_for_step_status|safe }}
<p>
    We take the student through the following flow of learning:
</p>
<ul>
    <li>Deploying Cisco Container Platform on Cisco Hyperflex</li>
    <ul>
        <li>Overview of the platform, components, features etc.
        </li>
        <li>Deploying a tenant cluster integrated with ACI
        </li>
    </ul>
    <li>Deploying an Application on CCP</li>
    <ul>
        <li>Deploy a microservices based Application</li>
        <li>ACI contracts between Kubernetes and Bare Metal/VM</li>
    </ul>
    <li>Deploy and manage HX Persistent Storage</li>
    <ul>
        <li>Deploy a storage integrated Application
        </li>
        <li>Manage/upgrade the Application
        </li>
    </ul>
    <li>BONUS Lab Section: Docker, and Docker Networking</li>
    <ul>
        <li>This section will walk you through a deep-dive on docker
        </li>
        <li>You will build, manage and deploy a Webserver container</li>
          <li> You will also get a deeper understanding of container networking</li>


    </ul>

</ul>
<p>
    Any questions please reach out to the proctors. We are here to help and provide
    answers to any questions you may have. If we don't know, we will gladly find out
    a solution for you.
</p>





{{ end_of_page(page_position,data) }}
{% endblock %}
